h2 {
  color: #666;
}

button.ui.primary.button,
button.ui.primary.button:focus {
  background-color: rgb(10, 190, 175);
}

button.ui.primary.button:hover,
button.ui.primary.button:visited,
button.ui.primary.button:active {
  background-color: teal;
}

button.ui.primary.button .ui.icon.plus {
  color: white;
  margin-left: .5rem;
  margin-right: -.5rem;
}

.content.main {
  z-index: 0;
  display: flex;
  min-height: calc(95vh - 85px);
  flex-direction: column;
  color: #555;
}